<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-card-header>
      <img src="assets/aaa.png" alt="" style="padding:10px;border-radius: 100%;">
    </ion-card-header>
  
    <ion-card-content>
      <ion-item> 
        <ion-input placeholder="username" #user> </ion-input>
      </ion-item>
      <ion-item> 
        <ion-input placeholder="password" type="password" #pass> </ion-input>
      </ion-item>
    </ion-card-content>

    <div class="row" style="text-align: center;padding-bottom: 20px;">
      <ion-button (click)="volverHome()">Volver </ion-button>
      <ion-button (click)="ingresar(user,pass)">Login </ion-button>
    </div>
    <p style="text-align: center;color:cornflowerblue" (click)="recuperar()">Recuperar contraseña</p>
    
  </ion-card>





  

</ion-content>
