<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-card-header>
      <img src="assets/aaa.png" style="width: 75%;margin: auto; display: block" >
    </ion-card-header>
  
    <ion-card-content>
      <ion-item> 
        <ion-input [(ngModel)]="usuario" placeholder="username" type="text" value=""> </ion-input>
      </ion-item>
      <ion-item> 
        <ion-input [(ngModel)]="contrasena" placeholder="password" type="password" value=""> </ion-input>
      </ion-item>

      <ion-item>
        <b>Modo:&nbsp;</b><span id="perfil"> Alumno</span>

        <ion-toggle slot="end" [(ngModel)]="status" (ionChange)="cambiar()" color="warning" ></ion-toggle>
      </ion-item>
    </ion-card-content>

    <div class="row" style="text-align: center;padding-bottom: 10px;">


      <ion-button (click)="volverHome()">Volver </ion-button>
      <ion-button (click)="ingresar()">Login </ion-button>
    </div>
    <p style="text-align: center;color:cornflowerblue;font-weight: 700;" (click)="goToRegistro()">Registrarse</p>
    <p style="text-align: center;color:cornflowerblue" (click)="recuperar()">Recuperar contraseña</p>
    
  </ion-card>
</ion-content>