<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <img src="assets/aaa.png" alt="" style="width: auto;margin: auto; display: block;">
    </ion-card-header>
  
    <ion-card-content>

      <ion-item> 
        <ion-input placeholder="Correo Electrónico:" type="text" [(ngModel)]="correo" value=""> </ion-input>
      </ion-item>
    </ion-card-content>

    <div class="row " style="text-align: center;padding-bottom: 20px;">
      <br>
      <ion-button (click)="recuperar()" >Recuperar contraseña </ion-button>
      <br>
      <br>
      <ion-button (click)="volverLogin()">Volver </ion-button>
    </div>
    
  </ion-card>

</ion-content>