<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      aaaa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
<!-- asddsa -->
        
<h1>Bienvenido</h1>
    <img src="assets/aaa.png" alt="" style="width: 60%;">
    <div class="row">

      <ion-button (click)="goToLogin()" >ingresar</ion-button>
    </div>
c:

  </div>
</ion-content>
